*.pyc

/build/output
/build/input
/build/temp

/data/DB1BCoupon/Origin_and_Destination*
/data/DB1BTicket/Origin_and_Destination*

/data/T100/????_T100D*

/data/Coordinates/*.csv

/data/Climate/*.txt
